.more {
  background: #f7f7f7;

  @media (max-width: 1200px) {
    padding: 90px 0 75px;
  }

  @media (max-width: 768px) {
    padding: 40px 0;
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 21px;
    @media (max-width: 1200px) {
      justify-content: center;
    }
  }

  &__title {
    font-weight: 700;
  }

  &__title.title.title-h2 {
    line-height: 1.19444;
    margin-bottom: 22px;
  }

  &__text.text.text-m {
    margin-bottom: 64px;

    @media (max-width: 460px) {
      margin-bottom: 34px;
    }
  }

  &__left {
    flex-basis: 580px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  &__item {
    display: flex;
    gap: 19px;
  }

  &__title.title.title-h6 {
    line-height: 1.42857;
    margin-bottom: 14px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $blue;
    flex: 1 0 60px;
    height: 60px;
    font-size: 25px;
    border: 1px solid $blue;
    border-radius: 50%;
  }

  &__icon--red {
    color: #fff;
    background: $blue;
  }

  &__right img {
    max-height: 100%;
    display: block;

    @media (max-width: 1200px) {
      display: none;
    }
  }
}
