.testimonials {
  padding: 25px 0;
  min-height: 706px;
  text-align: center;
  background: url(../img/testimonials/background.png) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    min-height: 420px;
  }
  &__header {
    margin-bottom: 81px;
    @media (max-width: 768px) {
      margin-bottom: 25px;
    }
  }

  &__title.title-h2 {
    font-family: $third-family;
  }

  &__name {
    margin-bottom: 10px;
  }

  &__teresa {
    text-align: center;
    max-width: 594px;
    margin: 0 auto;
  }

  &__text.text.text-m {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 18px;
  }

  &__text.text.text-xl {
    color: #fff;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
  }

  &__text.text.text-xs {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.18182;
  }

  &__img {
    margin-bottom: 33px;
  }

  &__img img {
    display: block;
    max-width: 100%;
  }

  &__info {
    margin-bottom: 40px;
    @media (max-width: 460px) {
      margin-bottom: 20px;
    }
  }

  &__wrapper {
    cursor: grab;
  }

  &__wrapper:active {
    cursor: grabbing;
  }

  &__pagination {
    position: static;
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;

    & .swiper-pagination-bullet {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      border: 1px solid $white;
      opacity: 1;
      background-color: transparent;
      margin: 0 !important;

      &.swiper-pagination-bullet-active {
        background-color: $blue;
        border-color: transparent;
      }
    }
  }
}
