*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #000;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

ul, li {
    list-style: none;
}

.logo img {
    display: block;
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}